.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    width: 1400px;
    height: 1000px;
    font-size: 18px;
    font-family: "kumbh Sans",sans-serif;
}
.box{
    background-color: white;
    width: 350px;
    height: 350px ;
    border-radius: 8px;
    filter: drop-shadow(0 0 4px black);
}
.content{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.details{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    
}
.box svg{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content img{
        position: absolute;
    border-radius: 60px;
    border : 10px solid white;
    margin-bottom: 200px;
}